.homeItem_container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background-color: rgba(227, 223, 222, 0.15);
  border-radius: 2rem;
  padding: 1rem;
  user-select: text;
  border: 2px solid white;
  transition: border 1s ease;
}
.homeItem_container.opacityAnime {
  animation: opacityAnime 1s ease forwards;
}

.homeItem_container:hover {
  border: 2px solid red;
}

.home-item_img img {
  height: 10rem;
  margin-right: 1rem;
}

.item_img_container {
  position: relative;
}
.item_img_foreground {
  cursor: pointer;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.item_img_background {
  position: absolute;
  top: 1rem;
  left: 0;
  z-index: 1;
  filter: blur(20px);
}

.home-item_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.home-item_priceDrop {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.home-item_priceDrop img {
  height: 1.2rem;
}
.home-item_dropMenu {
  border: 1px solid #aaa;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 90%;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}

.home-item_pricePick {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -5.1rem;
  left: -0.1rem;
  width: 100%;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 0.3rem;
  cursor: unset;
  z-index: 10;
}
.home-item_pricePick div {
  padding: 0.5rem;
  cursor: unset;
}
.home-item_pricePick div:hover {
  background-color: rgb(244, 242, 242);
  width: 92%;
}
.home-item_pricePick div.active {
  background-color: var(--primary-color);
  color: white;
}

.home-item_cart {
  margin-left: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
  border: 1px solid #aaa;
  cursor: pointer;
}
.home-item_cart svg {
  height: 0.9rem;
  transition: all ease 0.5s;
  pointer-events: none;
}
.home-item_cart.remove > svg {
  transform: rotate(45deg);
  fill: var(--primary-color);
}

@keyframes opacityAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
