.toast {
  z-index: 100;
  position: fixed;
  right: 4rem;
  bottom: 4rem;
}
.toast_container {
  display: flex;
  background-color: rgba(209, 231, 221, 0.96);
  color: #0f5132;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  animation: toast_up 1s;
}

@keyframes toast_up {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
